.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}
.grid-item{
    border: 1px solid rgba(225,255,255,0.8);
    font-size: 30px;
    text-align: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    margin: 10px;
}
/* .grid-container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}
.grid-item{
    border: 0.5px solid white;
    height: 300px;
    width : 33%
} */
.grid-container  .grid-item img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
}